body a{
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
input[type="submit"]{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}

h1,h2,h3,h4,h5,h6{
	padding:0 0;
	margin:0 0;
}
p{
	padding:0 0;
	margin:0 0;
}
ul{
	padding:0 0;
	margin:0 0;
}
body{
  background-color: #212121;
	padding:0 0;
	margin:0 0;
}
.header{
	background-color: #212121;
	min-height:100px;
  height: auto;
}

.conteudo{
  background-color: white;
  padding: 2em;
}

.conteudo h2{
  color: #212121;
  font-weight: 900;
  font-size: 4em;
  font-family: 'Roboto', sans-serif;
}

.conteudo h3{
  color: #212121;
  font-weight: 900;
  font-size: 2em;
  font-family: 'Roboto', sans-serif;
}
.conteudo p{
  color: #333333;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
}

.conteudo span{
  color: #75ee4a;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-weight: bolder;
}

.footer{
  background-color: #212121;
  min-height:100px;
  height: auto;
  margin: 0 auto;
  padding: 1em;
}

.footer h3{
  color: #fff;
  text-align: center;
  font-weight: 900;
}

.footer font{
  color: #75ee4a;
}



.social{
  background-color: #fff;
  border-radius: 3em;
  width: 4em;
  height: 4em;
  margin: 0 auto;
  text-align: center;
}

i.fa.fa-facebook::before{
text-align: center;
font-size: 2em;
color: #212121;
line-height: 2em;
}


.formulario{
  padding: 2em;
}

.caixa{
  width: 90%;
  height: auto;
  background-color: #333333;
  border-radius: 0.5em;
  padding: 2em;
  margin: 0 auto

}

.formulario input[type=submit]{
  background-color: #2196f3;
  padding: 1em;
  color: #fff;
  width: 100%;
  box-shadow: 0px 5px 2px #1565c0;
  border: 0px solid;
  font-weight: 900;
  font-weight: bolder;
  font-family: 'Roboto', sans-serif;
  margin-top: -2%;
}

.formulario input[type=submit]:hover{
  background: #1565c0;
}


.formulario label{
  color: #fff;
   font-weight: 900;
   font-weight: bolder;
}
